<h1>Editing manifacturer</h1>

<%= render "form", manifacturer: @manifacturer %>

<br>

<div>
  <%= link_to "Show this manifacturer", @manifacturer %> |
  <%= link_to "Back to manifacturers", manifacturers_path %>
</div>
